body {
    background-image: url("background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center; 
}
*{
    margin: 0;
    padding: 0;
}
.title {
    color: #706C5F;
    background: #F0FFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.781);
    font-size: 30px;
    text-align: center;                                                                                                                           
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    padding: 10px;
}
.first{
    color: #706C5F;
    background: #F0FFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.781);
    font-size: 20px;
    text-align: center;                                                                                                                           
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    padding: 15px;
}
.doaa {
    color: #706C5F;
    font-family: 'Almarai', sans-serif;
    background: #F0FFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.781);
    font-size: 30px;                                                                              
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 45px;
}
.rono {
    text-align: center;
    color: #6B4226;
    font-family: "Alegreya Sans";
}
*{
    font-weight: bold;
    font-family: 'Almarai', sans-serif;
}
.styleimge .styleimge2 .styleimge3{
    margin-right:10px; 
    margin-bottom:5;
    padding:2px
}
.styleimge {
    float: left;
}
.styleimge2 {
    float: right;
}
.styleimge3 {
    float: right;
    clear: right;
}
a {
    color: #9e470c;
  }
  
  a:visited {
    color: #6B4226;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: rgb(0, 0, 0);
  }
.oo{
    color: #706C5F;
    font-family: 'Almarai', sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.781);
    font-size: 50px;                                                                              
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 45px;
    background-color: #86bbbb;
}